h1{
    font-size: 37px;
    line-height: 46px;
    font-family: Tahoma, Helvetica, sans-serif;
    color: #000000;
}

.Grupo1{
    font-size: 25px;
    line-height: 38px;
    font-family: tahoma, Helvetica, sans-serif;
}

.Grupo2{
    height: 100%;
    width: 50%;
}

.Grupo3{
    font-size: 18px;
    line-height: 27px;
    color: #333;
}

* {
    font-size: 18px;
    width: 900px;
    font-family: Verdana, Geneva, sans-serif;
}